<!--
* Name: Alex Oladele
* Date: 1/13/17
* Course: CSE 270e
* Assignment: Timer v1.0
-->
<head>
    <link href="../../public/css/about.css" rel="stylesheet">
</head>

<div class="info">
    <button id="authorBtn">Author</button>
    <p class="toHide">Program Written by Alex Oladele</p>
</div>
<br>
<div class="info">
    <button id="courseBtn">Course</button>
    <p class="toHide">Program Written for CSE270e, Winter Term 2017. <a href="https://www.miamioh.edu/">Miami
        University</a></p>
</div>