<!--
* Name: Alex Oladele
* Date: 1/13/17
* Course: CSE 270e
* Assignment: Timer v1.0
-->
<head>
    <script src="../public/js/loginForm.js"></script>
    <link href="../public/css/loginForm.css" rel="stylesheet">
</head>

<!--<div >-->
<br>
<h2>Login to Timer</h2>
{{#if errormsg}}
    <div class="alert alert-danger"><strong>Error:</strong> Invalid Username or Password</div> {{/if}}
<br>
<form role="form" method="post" id="loginForm">
    <div class="container">
        <label for="username"><b>Username</b></label>

        <!-- TODO  Add required back-->
        <input type="text" class="form-control" placeholder="Enter Username" name="username" id="username">

        <label for="password"><b>Password</b></label>

        <!-- TODO  Add required back-->
        <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password">

        <button id="loginBtn" type="submit">Login</button>
    </div>
</form>
<br>
<!--</div>-->
