<!--
* Name: Alex Oladele
* Date: 1/13/17
* Course: CSE 270e
* Assignment: Timer v1.0
-->
<head>
    <script src="../public/js/loginForm.js"></script>
    <link href="../public/css/loginForm.css" rel="stylesheet">
</head>

<!--<div >-->
<br>
<h2>Login to Timer</h2>
<br>
<form role="form" method="post" id="loginForm">
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" class="form-control" placeholder="Enter Username" name="username" id="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" required>

        <button id="login-btn" type="submit">Login</button>
    </div>
</form>
<br>
<!--</div>-->
