<!--
* Name: Alex Oladele
* Date: 1/13/17
* Course: CSE 270e
* Assignment: Timer v1.0
-->

<div class="container">
    <div class="row">
        <div id="infoRow" class="col-xs-12">
            <span>
            <h3>Timer Application</h3>
            <hr>
            <p>Welcome to the Timer Application that allows you to set multiple, shared device timers.</p>
            <br>
            <p>Timer app lets you: </p>
            <ul>
                <li>Set Multiple Times</li>
                <li>Share these times across multiple devices</li>
                <li>Receive names alerts when a timer has expired</li>
                <li>Over-Time indication so you know how burnt your food is good</li>
            </ul>
        </span>
        </div>
    </div>
</div>