/**
 * Name: Alex Oladele
 * Date: 1/15/17
 * Course CSE 270e
 * Assignment: Timer v1.0
 */

/* ROOT */
label {
    display: block;
    text-align: center;
}

button {
    display: block;
    text-align: center;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

/* IDS */

/* CLASSES */

.timers {
    text-align: center;
}

.centered {
    margin: auto;
    max-width: 210px;
}